{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Become a Tutor</h1>
  <p style="font-size: 1.1em">Interested in becoming a tutor? Tutors at MyTutor benefit from the reality that they never have to worry about finding clients; we do it for them! In addition, you can set your own hours and take advantage of our network of students. To apply, fill out the following form:</p>
  <p style="font-size: 1.1em">After you submit, we will schedule an interview with you.</p>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Apply Now</button>
</form>

</div>
{% endblock %}
